<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#blog-navbar" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Public Health Knowledge</a>
        </div>
        <div class="collapse navbar-collapse" id="blog-navbar">
            <ul class="nav navbar-nav navbar-right">
                {% if is_granted('ROLE_USER') %}
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown"
                           role="button" aria-haspopup="true" aria-expanded="false"
                        >User: {{ app.user.username }} <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#"
                                   onclick="event.preventDefault();
                                             document.getElementById('logout-form').submit();">
                                    Logout
                                </a>
                                <form id="logout-form" action="{{ path('fos_user_security_logout') }}" method="POST"
                                      style="display: none;">
                                </form>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="{{ path('app_diagnosisstate_show') }}">Diagnosis</a>
                    </li>
                    <li>
                        <a href="{{ path('feedback_new') }}">Feedback</a>
                    </li>
                {% else %}
                    <li><a href="{{ path('fos_user_security_login') }}">Login</a></li>
                {% endif %}
                <li>
                    <a href="{{ path('about') }}">About</a>
                </li>
            </ul>
        </div>
    </div>
</nav>